<!-- ========== Left Sidebar Start ========== -->
<div class="leftside-menu">

    <!-- Brand Logo Light -->
    <a href="index" class="logo logo-light">
        <span class="logo-lg">
            <img src="assets/images/logo.png" alt="logo">
        </span>
        <span class="logo-sm">
            <img src="assets/images/logo-sm.png" alt="small logo">
        </span>
    </a>

    <!-- Brand Logo Dark -->
    <a href="index" class="logo logo-dark">
        <span class="logo-lg">
            <img src="assets/images/logo-dark.png" alt="dark logo">
        </span>
        <span class="logo-sm">
            <img src="assets/images/logo-sm.png" alt="small logo">
        </span>
    </a>

    <!-- Sidebar Hover Menu Toggle Button -->
    <div class="button-sm-hover" data-bs-toggle="tooltip" data-bs-placement="right" title="Show Full Sidebar">
        <i class="ri-checkbox-blank-circle-line align-middle"></i>
    </div>

    <!-- Full Sidebar Menu Close Button -->
    <div class="button-close-fullsidebar">
        <i class="ri-close-fill align-middle"></i>
    </div>

    <!-- Sidebar -left -->
    <div class="h-100" id="leftside-menu-container" data-simplebar>
        <!-- Leftbar User -->
        

        <!--- Sidemenu -->
        <ul class="side-nav">

            <li class="side-nav-title mt-1"> Main</li>

            <li class="side-nav-item">
                <a href="index" class="side-nav-link">
                    <i class="ri-dashboard-2-fill"></i>
                    <span class="badge bg-success float-end">9+</span>
                    <span> Dashboard </span>
                </a>
               
            </li>
            <li class="side-nav-item">
                <a href="plans" class="side-nav-link">
                    <i class=" ri-survey-line"></i>
                    <span class="badge bg-success float-end"></span>
                    <span> Plan Board </span>
                </a> </li>


            <li class="side-nav-item">
                <a data-bs-toggle="collapse" href="#customers" aria-expanded="false" aria-controls="customers"
                    class="side-nav-link">
                    <i class="ri-team-fill"></i>
                    <span> Customer </span>
                    <span class="menu-arrow"></span>
                </a>
                <div class="collapse" id="customers">
                    <ul class="side-nav-second-level">
                        <li>
                            <a href="customers">Customer List</a>
                        </li>
                        <!-- <li>
                            <a href="customer_details">Cusotmer Details</a>
                        </li> -->
                        <li>
                            <a href="customer_address" >Cusotmer Address</a>
                        </li>
                        <li>
                            <a href="customer_event" >Cusotmer Event</a>
                        </li>
                        <li>
                            <a href="customer_routes" >Cusotmer Routes</a>
                        </li>
                        <li>

                            <a href="customer_status">Cusotmer Status</a>
                        </li>
                        <li>
                            <a href="customer_tanks" >Cusotmer Tanks</a>
                        </li>


                        <li>
                            <a href="customer_timing">Cusotmer Timing</a>
                        </li>
                    </ul>
                </div>
            </li>
            <li class="side-nav-item">
                <a data-bs-toggle="collapse" href="#depot" aria-expanded="false" aria-controls="depot"
                    class="side-nav-link">
                    <i class="ri-home-office-fill"></i>
                    <span> Depot </span>
                    <span class="menu-arrow"></span>
                </a>
                <div class="collapse" id="depot">
                    <ul class="side-nav-second-level">
                        <li>
                            <a href="depot">Depots</a>
                        </li>
                     
                        <li>
                            <a href="depot_address" >Depot Address</a>
                        </li>
                        <li>
                            <a href="depot_event" >Depot Event</a>
                        </li>
                        <li>
                            <a href="depot_routes" >Depot Routes</a>
                        </li>
                        <li>

                            <a href="depot_status">Depot Status</a>
                        </li>
                        <li>
                            <a href="depot_tanks" >Depot Tanks</a>
                        </li>


                        <li>
                            <a href="depot_timing">Depot Timing</a>
                        </li>
                    </ul>
                </div>
            </li>
            <li class="side-nav-item">
                <a data-bs-toggle="collapse" href="#parking_loc" aria-expanded="false" aria-controls="parking_loc"
                    class="side-nav-link">
                    <i class="ri-parking-box-fill"></i>
                    <span> Parking Location </span>
                    <span class="menu-arrow"></span>
                </a>
                <div class="collapse" id="parking_loc">
                    <ul class="side-nav-second-level">
                        
                        <li>
                            <a href="parkingloc_list">Parking Locations</a>
                        </li>
                     
                        <li>
                            <a href="parkingloc_address" >Parking Location Address</a>
                        </li>
                        <li>
                            <a href="parkingloc_event" >Parking Location Event</a>
                        </li>
                        <li>
                            <a href="parkingloc_routes" >Parking Location Routes</a>
                        </li>
                        <li>

                            <a href="parkingloc_status">Parking Location Status</a>
                        </li>
                        <li>
                            <a href="parkingloc_tanks" >Parking Location Tanks</a>
                        </li>


                        <li>
                            <a href="parkingloc_timing">Parking Location Timing</a>
                        </li>
                    </ul>
                </div>
            </li>

            <li class="side-nav-item">
                <a data-bs-toggle="collapse" href="#vehicle" aria-expanded="false" aria-controls="vehicle"
                    class="side-nav-link">
                    <i class="ri-truck-fill"></i>
                    <span> Vehicle </span>
                    <span class="menu-arrow"></span>
                </a>
                <div class="collapse" id="vehicle">
                    <ul class="side-nav-second-level">
                        <li>
                            <a href="vehicles">Vehicles</a>
                        </li>
                        <li>
                            <a href="vehicle_trailer">Trailer</a>
                        </li>
                        <li>
                            <a href="vehicle_tracktor">Tracktor</a>
                        </li>
                        <li>
                            <a href="#">Weight</a>
                        </li>
                        <li>
                            <a href="vehicle_group">Groups</a>
                        </li>
                        <li>
                            <a href="#">Status</a>
                        </li>

                    </ul>
                </div>
            </li>


            <li class="side-nav-item">
                <a data-bs-toggle="collapse" href="#data_management" aria-expanded="false"
                    aria-controls="data_management" class="side-nav-link">
                    <i class=" ri-database-fill"></i>
                    <span> Data Management </span>
                    <span class="menu-arrow"></span>
                </a>
                <div class="collapse" id="data_management">
                    <ul class="side-nav-second-level">
                        <li>
                            <a href="users">Users</a>
                        </li>
                        <li>
                            <a href="hauliers">Hauliers</a>
                        </li>
                        <li>
                            <a href="vehicles_data">Vehicle</a>
                        </li>
                        <li>
                            <a href="products">Product</a>
                        </li>
                        <li>
                            <a href="scopes">Scope</a>
                        </li>
                        <li>
                            <a href="compartment_rules">Compartment Rules</a>
                        </li>
                        <li>
                            <a href="upload_excels">Import Data</a>
                        </li>
                        <li>
                            <a href="vehicle_induced">Vehicle Flat File</a>
                        </li>
                        <!-- <li>
                            <a href="#">On Setting</a>
                        </li>
                        <li>
                            <a href="#">Scheduling Setting</a>
                        </li>
                        <li>
                            <a href="#">CSV Import</a>
                        </li>
                        <li>
                            <a href="#">Stock Management</a>
                        </li>
                        <li>
                            <a href="#">OU Import</a>
                        </li>
                        <li>
                            <a href="#">System</a>
                        </li> -->

                    </ul>
                </div>
            </li>
            <!-- <li class="side-nav-item">
                <a data-bs-toggle="collapse" href="#swt" aria-expanded="false" aria-controls="swt"
                    class="side-nav-link">
                    <i class=" ri-radio-button-fill"></i>
                    <span> SWT </span>
                    <span class="menu-arrow"></span>
                </a>
                <div class="collapse" id="swt">
                    <ul class="side-nav-second-level">

                    </ul>
                </div>
            </li>

            <li class="side-nav-item">
                <a data-bs-toggle="collapse" href="#swt" aria-expanded="false" aria-controls="swt"
                    class="side-nav-link">
                    <i class=" ri-radio-button-fill"></i>
                    <span> N </span>
                    <span class="menu-arrow"></span>
                </a>
                <div class="collapse" id="swt">
                    <ul class="side-nav-second-level">

                    </ul>
                </div>
            </li>

            <li class="side-nav-item">
                <a data-bs-toggle="collapse" href="#swt" aria-expanded="false" aria-controls="swt"
                    class="side-nav-link">
                    <i class=" ri-radio-button-fill"></i>
                    <span> HM </span>
                    <span class="menu-arrow"></span>
                </a>
                <div class="collapse" id="swt">
                    <ul class="side-nav-second-level">

                    </ul>
                </div>
            </li>

            <li class="side-nav-item">
                <a data-bs-toggle="collapse" href="#swt" aria-expanded="false" aria-controls="swt"
                    class="side-nav-link">
                    <i class=" ri-radio-button-fill"></i>
                    <span> T </span>
                    <span class="menu-arrow"></span>
                </a>
                <div class="collapse" id="swt">
                    <ul class="side-nav-second-level">

                    </ul>
                </div>
            </li> -->





        </ul>
        <!--- End Sidemenu -->

        <div class="clearfix"></div>
    </div>
</div>
<!-- ========== Left Sidebar End ========== -->