<%- contentFor('HeaderCss') %>
    <!-- Datatables css -->
    <link href="assets/vendor/datatables.net-bs5/css/dataTables.bootstrap5.min.css" rel="stylesheet" type="text/css" />
    <link href="assets/vendor/datatables.net-responsive-bs5/css/responsive.bootstrap5.min.css" rel="stylesheet"
        type="text/css" />
    <link href="assets/vendor/datatables.net-fixedcolumns-bs5/css/fixedColumns.bootstrap5.min.css" rel="stylesheet"
        type="text/css" />
    <link href="assets/vendor/datatables.net-fixedheader-bs5/css/fixedHeader.bootstrap5.min.css" rel="stylesheet"
        type="text/css" />
    <link href="assets/vendor/datatables.net-buttons-bs5/css/buttons.bootstrap5.min.css" rel="stylesheet"
        type="text/css" />
    <link href="assets/vendor/datatables.net-select-bs5/css/select.bootstrap5.min.css" rel="stylesheet"
        type="text/css" />

    <%- contentFor('body') %>
        <!-- start page title -->
        <div class="row">
            <div class="col-12">
                <div
                    class="page-title-box justify-content-between d-flex align-items-md-center flex-md-row flex-column">
                    <h4 class="page-title">Vehicle Details</h4>
                    <ol class="breadcrumb m-0">
                        <li class="breadcrumb-item"><a href="javascript: void(0);">Vehicle</a></li>
                        <li class="breadcrumb-item active"><a href="javascript: void(0);">Vehicle Details</a></li>

                    </ol>
                </div>
            </div>
        </div>
        <!-- end page title -->

        <div class="row">
            <div class="col-xl-4 col-lg-5">
                <div class="card text-center">
                    <div class="card-body">
                        <img src="assets/images/users/avatar-1.jpg" class="rounded-circle avatar-lg img-thumbnail"
                            alt="profile-image">

                        <h4 class="mb-1 mt-2">JP-9990</h4>
                        <p class="text-muted">Vehicle</p>

                        <!-- <button type="button" class="btn btn-success btn-sm mb-2">Follow</button>
                <button type="button" class="btn btn-danger btn-sm mb-2">Message</button> -->

                        <div class="text-start mt-3">
                            <p class="text-muted mb-2"><strong>Vehicle Name :</strong> <span class="ms-2">
                                    JP-9980</span></p>

                            <p class="text-muted mb-2"><strong>Tracker Code :</strong> <span class="ms-2">TRC001</span>
                            </p>

                            <p class="text-muted mb-2"><strong>Tracker Reg :</strong><span class="ms-2">YES</span></p>

                            <p class="text-muted mb-2"><strong>Tracktor Code :</strong> <span
                                    class="ms-2 ">TCR001</span></p>

                            <p class="text-muted mb-1"><strong>Tracktor Reg :</strong> <span class="ms-2">YES</span>
                            </p>
                            <p class="text-muted mb-1"><strong>Scope:</strong> <span class="ms-2"> 100px</span></p>
                            <p class="text-muted mb-1"><strong>GSAP Haulier:</strong> <span class="ms-2">Kashan</span>
                            </p>
                        </div>


                    </div> <!-- end card-body -->
                </div> <!-- end card -->

                <!-- Messages-->
                <div class="card">
                    <div class="card-body">
                        <div class="d-flex justify-content-between align-items-center mb-2">
                            <h4 class="header-title">Notes</h4>
                            <div class="dropdown">
                                <a href="#" class="dropdown-toggle arrow-none card-drop" data-bs-toggle="dropdown"
                                    aria-expanded="false">
                                    <i class="ri-more-2-fill"></i>
                                </a>
                                <div class="dropdown-menu dropdown-menu-animated dropdown-menu-end">
                                    <!-- item-->
                                    <a href="javascript:void(0);" class="dropdown-item">Settings</a>
                                    <!-- item-->
                                    <a href="javascript:void(0);" class="dropdown-item">Action</a>
                                </div>
                            </div>
                        </div>

                        <div class="inbox-widget">
                            <div class="inbox-item">
                                <div class="inbox-item-img"><img src="assets/images/users/avatar-2.jpg"
                                        class="rounded-circle" alt=""></div>
                                <p class="inbox-item-author">Note 1</p>
                                <p class="inbox-item-text">I've finished it! See you so...</p>
                                <p class="inbox-item-date">
                                    <a href="#" class="btn btn-sm btn-link text-info fs-13"> VIEW </a>
                                </p>
                            </div>
                            <div class="inbox-item">
                                <div class="inbox-item-img"><img src="assets/images/users/avatar-3.jpg"
                                        class="rounded-circle" alt=""></div>
                                <p class="inbox-item-author">Note 2</p>
                                <p class="inbox-item-text">This theme is awesome!</p>
                                <p class="inbox-item-date">
                                    <a href="#" class="btn btn-sm btn-link text-info fs-13"> VIEW </a>
                                </p>
                            </div>
                            <div class="inbox-item">
                                <div class="inbox-item-img"><img src="assets/images/users/avatar-4.jpg"
                                        class="rounded-circle" alt=""></div>
                                <p class="inbox-item-author">Note 3</p>
                                <p class="inbox-item-text">Nice to meet you</p>
                                <p class="inbox-item-date">
                                    <a href="#" class="btn btn-sm btn-link text-info fs-13"> VIEW </a>
                                </p>
                            </div>

                            <div class="inbox-item">
                                <div class="inbox-item-img"><img src="assets/images/users/avatar-5.jpg"
                                        class="rounded-circle" alt=""></div>
                                <p class="inbox-item-author">Note 4</p>
                                <p class="inbox-item-text">Hey! there I'm available...</p>
                                <p class="inbox-item-date">
                                    <a href="#" class="btn btn-sm btn-link text-info fs-13"> VIEW </a>
                                </p>
                            </div>
                            <div class="inbox-item">
                                <div class="inbox-item-img"><img src="assets/images/users/avatar-6.jpg"
                                        class="rounded-circle" alt=""></div>
                                <p class="inbox-item-author">Note 5</p>
                                <p class="inbox-item-text">This theme is awesome!</p>
                                <p class="inbox-item-date">
                                    <a href="#" class="btn btn-sm btn-link text-info fs-13"> VIEW </a>
                                </p>
                            </div>
                        </div> <!-- end inbox-widget -->
                    </div> <!-- end card-body-->
                </div> <!-- end card-->

            </div> <!-- end col-->

            <div class="col-xl-8 col-lg-7">

                <div class="card">
                    <div class="card-body">
                        <ul class="nav nav-pills bg-nav-pills nav-justified mb-3">
                            <li class="nav-item">
                                <a href="#properties" data-bs-toggle="tab" aria-expanded="false"
                                    class="nav-link rounded-start rounded-0 active">
                                    Properties
                                </a>
                            </li>
                            <li class="nav-item">
                                <a href="#tanks" data-bs-toggle="tab" aria-expanded="true" class="nav-link rounded-0">
                                    Tracker
                                </a>
                            </li>
                            <li class="nav-item">
                                <a href="#tracktor_properties" data-bs-toggle="tab" aria-expanded="false"
                                    class="nav-link rounded-end rounded-0">
                                    Tracktor
                                </a>
                            </li>
                            <li class="nav-item">
                                <a href="#timings" data-bs-toggle="tab" aria-expanded="false"
                                    class="nav-link rounded-end rounded-0">
                                    Weight
                                </a>
                            </li>
                            <li class="nav-item">
                                <a href="#groups" data-bs-toggle="tab" aria-expanded="false"
                                    class="nav-link rounded-end rounded-0">
                                    Groups
                                </a>
                            </li>
                            <li class="nav-item">
                                <a href="#" data-bs-toggle="tab" aria-expanded="false"
                                    class="nav-link rounded-end rounded-0">
                                    Status
                                </a>
                            </li>
                        </ul>
                        <div class="tab-content">
                            <div class="tab-pane show active" id="properties">

                                <form action="">
                                    <div class="row mt-3">
                                        <div class="mb-3  col-6 col-sm-12  col-lg-6">
                                            <label for="simpleinput" class="form-label">Name Abbreviation</label>
                                            <input type="text" id="simpleinput" class="form-control">
                                        </div>
                                        <div class="mb-3 col-6 col-sm-12  col-lg-6">
                                            <label for="simpleinput" class="form-label">Volume</label>
                                            <input type="text" id="simpleinput" class="form-control">
                                        </div>
                                        <div class="mb-3 col-sm-12  col-lg-6">
                                            <label for="simpleinput" class="form-label">Weight</label>
                                            <input type="text" id="simpleinput" class="form-control">
                                        </div>
                                        <div class="mb-3 col-sm-12  col-lg-6">
                                            <label for="simpleinput" class="form-label">Length Factor</label>
                                            <input type="text" id="simpleinput" class="form-control">
                                        </div>
                                        <div class="mb-3 col-sm-12  col-lg-6">
                                            <label for="simpleinput" class="form-label">Discharges Factor</label>
                                            <input type="text" id="simpleinput" class="form-control">
                                        </div>
                                        <div class="col-6" style="display: flex; align-items: center;">

                                            <div>
                                                <div class="form-check">
                                                    <input type="checkbox" class="form-check-input" id="customCheck1">
                                                    <label class="form-check-label" for="customCheck1">Simaltanous
                                                        Loading Allowed</label>
                                                </div>

                                            </div>
                                        </div>
                                        <div class="col-12"
                                            style="display: flex; align-items: center; justify-content: center;">
                                            <button class="btn btn-info rounded-pill"> Save</button>

                                        </div>

                                    </div>
                                </form>
                                <!-- end timeline -->

                            </div> <!-- end tab-pane -->
                            <!-- end about me section content -->

                            <div class="tab-pane" id="tracktor_properties">
                                <form action="">
                                    <div class="row mt-3">
                                        <div class="mb-3  col-6 col-sm-12  col-lg-6">
                                            <label for="simpleinput" class="form-label">Weight</label>
                                            <input type="text" id="simpleinput" class="form-control">
                                        </div>
                                        <div class="mb-3 col-6 col-sm-12  col-lg-6">
                                            <label for="simpleinput" class="form-label">Scope</label>
                                            <input type="text" id="simpleinput" class="form-control">
                                        </div>
                                      
                                        <div class="mb-3 col-sm-12  col-lg-6">
                                            <label for="simpleinput" class="form-label">Discharge Factor</label>
                                            <input type="text" id="simpleinput" class="form-control">
                                        </div>
                                        <div class="mb-3 col-sm-12  col-lg-6">
                                            <label for="simpleinput" class="form-label">Expiry Date</label>
                                            <input type="text" id="simpleinput" class="form-control">
                                        </div>
                                        <div class="mb-3 col-sm-12  col-lg-6">
                                            <label for="simpleinput" class="form-label">Parking Location</label>
                                            <input type="text" id="simpleinput" class="form-control">
                                        </div>
                                        
                                        <div class="col-6" style="display: flex; align-items: center;">

                                            <div>
                                                <div class="form-check">
                                                    <input type="checkbox" class="form-check-input" id="customCheck1">
                                                    <label class="form-check-label" for="customCheck1">Simaltanous
                                                        Rigid Tracktor Tracker</label>
                                                </div>
                                                <div class="form-check">
                                                    <input type="checkbox" class="form-check-input" id="customCheck1">
                                                    <label class="form-check-label" for="customCheck1">Simaltanous
                                                        Multiple Drop Allowed</label>
                                                </div>
                                                <div class="form-check">
                                                    <input type="checkbox" class="form-check-input" id="customCheck1">
                                                    <label class="form-check-label" for="customCheck1">Simaltanous
                                                        Pump</label>
                                                </div>

                                            </div>
                                        </div>
                                        <div class="col-12"
                                            style="display: flex; align-items: center; justify-content: center;">
                                            <button class="btn btn-info rounded-pill"> Save</button>

                                        </div>

                                    </div>
                                </form>

                            </div>
                            <!-- end timeline content-->

                            <div class="tab-pane" id="settings">

                            </div>
                            <div class="tab-pane " id="groups">
                                <div class="row">
                                    <div class="col-12">
                                        <div class="card">

                                            <div class="card-body">

                                                <button class="btn btn-primary rounded-pill mb-3" data-bs-toggle="modal"
                                                    data-bs-target="#group_modal">Add Group</button>


                                                <table id="datatable-buttons"
                                                    class="table table-striped dt-responsive wrap w-100 ">
                                                    <thead>
                                                        <tr>
                                                            <th>SNO</th>
                                                            <th>Group Name</th>
                                                            <th>Group Function</th>

                                                        </tr>
                                                    </thead>


                                                    <tbody>
                                                        <tr>
                                                            <th>SNO</th>
                                                            <th>Group 1</th>
                                                            <th>Group Fucn1</th>

                                                        </tr>
                                                        <tr>
                                                            <th>SNO</th>
                                                            <th>Group 2</th>
                                                            <th>Group Fucn 2</th>

                                                        </tr>

                                                    </tbody>
                                                </table>

                                            </div> <!-- end card body-->
                                        </div> <!-- end card -->
                                    </div><!-- end col-->
                                </div>
                            </div>
                            <div class="tab-pane" id="routes">
                                <div class="row">
                                    <div class="col-12">
                                        <div class="card">

                                            <div class="card-body">

                                                <button class="btn btn-primary rounded-pill mb-3" data-bs-toggle="modal"
                                                    data-bs-target="#standard-modal"> Add Routed</button>


                                                <table id="datatable-buttons"
                                                    class="table table-striped dt-responsive wrap w-100 ">
                                                    <thead>
                                                        <tr>
                                                            <th>SNO</th>
                                                            <th>On/Off</th>
                                                            <th>Location Code</th>
                                                            <th>Location Name</th>
                                                            <th>Distance(KM)</th>
                                                            <th>Time (MINS)</th>
                                                            <th>Speed (KM/H)</th>
                                                            <th>Random Trip</th>


                                                        </tr>
                                                    </thead>


                                                    <tbody>
                                                        <tr>
                                                            <th>1</th>
                                                            <th>On</th>
                                                            <th>LOC001</th>
                                                            <th>Abu Dhabi</th>
                                                            <th>2000km</th>
                                                            <th>30hrs</th>
                                                            <th>300km/h</th>
                                                            <th>Yes</th>
                                                        </tr>
                                                        <tr>
                                                            <th>2</th>
                                                            <th>On</th>
                                                            <th>LOC002</th>
                                                            <th>Abu Dhabi</th>
                                                            <th>2000km</th>
                                                            <th>30hrs</th>
                                                            <th>300km/h</th>
                                                            <th>Yes</th>
                                                        </tr>

                                                    </tbody>
                                                </table>

                                            </div> <!-- end card body-->
                                        </div> <!-- end card -->
                                    </div><!-- end col-->
                                </div>

                            </div>
                            <!-- end settings content-->

                        </div> <!-- end tab-content -->
                    </div> <!-- end card body -->
                </div> <!-- end card -->
            </div> <!-- end col -->
        </div>
        <div id="group_modal" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="standard-modalLabel"
            aria-hidden="true">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header">
                        <h4 class="modal-title" id="standard-modalLabel">Add Routes</h4>
                        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                    </div>
                    <div class="modal-body " style="padding: 20px;">
                        <form action="">
                            <div class="row mt-3">
                                <div class="mb-3  col-6 col-sm-12  col-lg-6">
                                    <label for="simpleinput" class="form-label">Group Name</label>
                                    <input type="text" id="simpleinput" class="form-control">
                                </div>
                                <div class="mb-3 col-6 col-sm-12  col-lg-6">
                                    <label for="simpleinput" class="form-label">Group Function</label>
                                    <input type="text" id="simpleinput" class="form-control">
                                </div>

                            </div>


                    </div>
                    </form>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-light" data-bs-dismiss="modal">Close</button>
                    <button type="button" class="btn btn-primary">Save changes</button>
                </div>
            </div><!-- /.modal-content -->
        </div><!-- /.modal-dialog -->
        </div>
        <div id="timing" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="standard-modalLabel"
            aria-hidden="true">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header">
                        <h4 class="modal-title" id="standard-modalLabel">Add Timming</h4>

                        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                    </div>
                    <div class="modal-body " style="padding: 20px;">
                        <form action="">
                            <div class="row mt-3">
                                <div class="mb-3">
                                    <label class="form-label">Start Day </label>
                                    <select class="form-control select2" data-toggle="select2">
                                        <option>Select</option>
                                        <option>Monday</option>
                                        <option>Tuesday</option>
                                        <option>Wednesday</option>
                                        <option>Thursday</option>
                                        <option>Friday</option>
                                        <option>Saturday</option>
                                        <option>Sunday</option>

                                    </select>
                                </div>
                                <div class="mb-3">
                                    <label class="form-label">Start Time</label>
                                    <div class="input-group">
                                        <input id="basic-timepicker" type="text" class="form-control"
                                            >
                                        <span class="input-group-text"><i class="ri-time-line"></i></span>
                                    </div>
                                </div>
                                <div class="mb-3">
                                    <label class="form-label">End Day </label>
                                    <select class="form-control select2" data-toggle="select2">
                                        <option>Select</option>
                                        <option>Monday</option>
                                        <option>Tuesday</option>
                                        <option>Wednesday</option>
                                        <option>Thursday</option>
                                        <option>Friday</option>
                                        <option>Saturday</option>
                                        <option>Sunday</option>

                                    </select>
                                </div>

                                <div class="mb-3">
                                    <label class="form-label">End Time</label>
                                    <div class="input-group">
                                        <input id="basic-timepicker" type="text" class="form-control"
                                            >
                                        <span class="input-group-text"><i class="ri-time-line"></i></span>
                                    </div>
                                </div>

                            </div>
                        </form>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-light" data-bs-dismiss="modal">Close</button>
                        <button type="button" class="btn btn-primary">Save changes</button>
                    </div>
                </div><!-- /.modal-content -->
            </div><!-- /.modal-dialog -->
        </div>

        <%- contentFor('FooterJs') %>
            <!-- Datatables js -->
            <script src="assets/vendor/datatables.net/js/jquery.dataTables.min.js"></script>
            <script src="assets/vendor/datatables.net-bs5/js/dataTables.bootstrap5.min.js"></script>
            <script src="assets/vendor/datatables.net-responsive/js/dataTables.responsive.min.js"></script>
            <script src="assets/vendor/datatables.net-responsive-bs5/js/responsive.bootstrap5.min.js"></script>
            <script src="assets/vendor/datatables.net-fixedcolumns-bs5/js/fixedColumns.bootstrap5.min.js"></script>
            <script src="assets/vendor/datatables.net-fixedheader/js/dataTables.fixedHeader.min.js"></script>
            <script src="assets/vendor/datatables.net-buttons/js/dataTables.buttons.min.js"></script>
            <script src="assets/vendor/datatables.net-buttons-bs5/js/buttons.bootstrap5.min.js"></script>
            <script src="assets/vendor/datatables.net-buttons/js/buttons.html5.min.js"></script>
            <script src="assets/vendor/datatables.net-buttons/js/buttons.flash.min.js"></script>
            <script src="assets/vendor/datatables.net-buttons/js/buttons.print.min.js"></script>
            <script src="assets/vendor/datatables.net-keytable/js/dataTables.keyTable.min.js"></script>
            <script src="assets/vendor/datatables.net-select/js/dataTables.select.min.js"></script>

            <!-- Datatable Demo Aapp js -->
            <script src="assets/js/pages/demo.datatable-init.js"></script>